{% extends "_staticpage.html" %}

{%hyde
    title: "About"
%}

{% block article %}

I’m from Czech republic, currently living in south of France where I’m pursuing
a PhD in computer science. If you are interested you can have a look at my
[research page]({{site.url}}/research.html). The rest of the time I try to do
as much climbing as I can at various places and take some photos.

If you want to get in touch with me you can [email
me](mailto:krikava___gmail___com) or find me on [GitHub][], [Twitter][],
[Mendeley][] or [LinkedIn][] and like other people I also have a
[resume][CV].

[CNRS]: http://www.cnrs.fr/
[I3S]: http://www.i3s.unice.fr/
[MODALIS]: http://modalis.i3s.unice.fr/
[Twitter]: http://twitter.com/fikovnik/
[GitHub]: http://github.com/fikovnik/
[Mendeley]: http://www.mendeley.com/profiles/filip-krikava/
[LinkedIn]: http://fr.linkedin.com/in/filipkrikava
[CV]: https://docs.google.com/document/d/1Pu0v7bOq5B2yUVAR7kzgAyzaye1xNNhzaKZOoCytcFc/edit?hl=en_US&authkey=CILzkOIC

## About the site

This site should server as a collection of things that interests me. The little
story behind is summed in a short post
[here]({{site.url}}/journal/2011/05/a-little-story-about-this-site.html).

{% endblock %}
