<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>

<title>{{ page.title }}</title>

<link rel='stylesheet' href='/css/base.css' type='text/css' />
 <link rel="stylesheet" href="/css/pygments.css" type="text/css" media="screen" charset="utf-8">

<style type='text/css'>
#menu { left: 0; float: left; }
</style>


    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23996205-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>

<script type='text/javascript'>
path = 'http://yeah.hmplus.net/files/gimgs/';
 
$(document).ready(function()
{
  setTimeout('move_up()', 1);
});
</script>


</head>

<body>

<div id='page'>

<div id='top-section'>{{ site.title }}<br />{{ site.tagline }}</div>

<div id='menu'>

<ul>
<li class='section-title'>à la carte</li>
<li><a href="{{ site.baseurl }}/index.html">canapé</a></li>
{% for section in site.sections %}
<li><a href="{{ site.baseurl }}/{{ section.name }}">{{ section.title }}</a></li>
{% endfor %}
</ul>

<ul>
<li class='section-title'>galleries</li>
{% for gallery in site.galleries %}
<li><a href="{{ site.baseurl }}/galleries/{{ gallery.name }}">{{ gallery.title }}</a></li>
{% endfor %}
</ul>

<ul>
<li class='section-title'>projects</li>
{% for project in site.projects %}
<li><a href="{{ site.baseurl }}/projects/{{ project.name }}">{{ project.title }}</a></li>
{% endfor %}
</ul>
</div>

<div class='cl'><!-- --></div>

<div id='content'>
{{ content }}
<div class='cl'><!-- --></div>

<!-- end text and image -->

</div>

</html>