* {
margin : 0;
padding : 0;
}

body {
  font-size: 62.5%; /* Resets 1em to 10px */
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: left;
  background-color: #fafafa;
  line-height : 1.2em;
}

/* LINKS */

a:link {
  text-decoration: none;
  background-color: #FFFF99;
  color: black;
}

a:active {
  text-decoration: none;
  background-color: #FFFF99;
  color: black;
}

a:visited {
  text-decoration: none;
  background-color: #FFFF99;
  color: black; }
  
a:hover { 
  text-decoration: none;
  background-color: #FFFF33;
  color: black; }

a img { border: none; }

/* TOP */
#top-section {
  float: right;
  font-weight: bold;
  line-height : 2em;
  text-align: right;
}

#page { 
  margin-left: 5em;
  margin-top: 2em;
  width: 760px;
}

/* MENU */
#menu {
  float: left;
}

#menu ul {
  float: left;
  width: 7em;  /* the width of each column in the menu */
  list-style-type: none;
  overflow: auto;
  padding: 0px 0px 0px 0px;
}

#menu ul li.section-title {
  color: black;
  text-align: left;
  width: auto;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 2px 0px;
}


#menu ul li {
  text-align: left;
  width: auto;
  margin: 0px 0px 2px 0px;
}

#menu ul li.active {  
  text-decoration: underline;
}

#menu ul a:link {
  text-decoration: none;
  color: black;
}

#menu ul a:active {
  text-decoration: none;
  color: black;
}

#menu ul a:visited {
  text-decoration: none;
  color: black;
}

#menu ul a:hover {
  color: black;
}

/* MAIN CONTENT */

#content {
  margin-top: 2em;
}

/* End Main Content */

/* Fonts / Typefaces */

#content p {
  width: 100%;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: justify;
  margin-top: 0.5em;
}

#content ul {
  list-style-position: outside;
  list-style-type: circle;
  margin-left: 1.5em;
}
 
#content ol { 
  list-style-position:outside; 
  margin-left:1.5em;
}
 
#content li {
  text-align:left;
  line-height: 2em;
}

#content a:link {
  text-align: left;
  padding: 0;
}

h1 { 
  letter-spacing: -20px;
  line-height: 80%;
  font-size: 1750%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding-bottom: 0.1em;
}

h2 {
  font-size:750%;
  line-height: 100%;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding-top: 0.2em;
  padding-bottom: 0.1em;
}

h3 {
  font-size: 500%;
  line-height: 100%;
  letter-spacing: -5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding: 0px 0px 10px 0px;
}

h4 {
  font-size: 200%;
}

/* Gallery */

#content .gallery {
}
 
#content .gallery .photo {
  background-color:#222;
  padding:5px;
  width:545px;
  margin-bottom:25px;
  text-align: center;
}
 
#content .gallery .photo img {
  border:3px solid #eee;
}
 
#content .gallery .label {
  font-size:0.85em;
  padding-top: 0.5em;
  color:#e7e7e7;
}

#content .highlight { 
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  overflow:scroll;
  background-color:#eeeeee;
  border:1px solid #dddddd;
  line-height:1.2em;
  font-size: 1.7em;
  color:#444444;
  overflow:auto;
  -webkit-box-shadow:rgba(0,0,0,0.07) 0 1px 2px inset;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}

/* End Fonts / Typefaces */

.cl { clear: left; }