@menu-size: 14em;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 2em 2em 0 2em;
  font-family: Helvetica, sans-serif;
  font-size: 8pt;
  background-color: #f8f8f8;
  color: #444;
}

a {
  text-decoration: none;
  color: #888;
}

a:hover {
  background-color: #FF3300;
  color: #eee;
}

#menu {
  width: @menu-size;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  height: 100%;
  padding-left: 2em;
  padding-top: 1.6em;

  ul {
    list-style: none;
  }

  li {
    margin-top: .4em;
  }
}

.container {
  padding: .7em .7em 2.2em .7em;
}

p {
  margin: 0 0 1.2em 0;
}

#listing {
  ol {
    list-style: none;
  }

  li {
    margin-top: .4em;
  }

  .listing-date {
    font-size: .8em;
    font-style: italic;
  }

  .listing-title {
    margin-right: .5em;
  }
}

#content {
  height: 100%;
  margin: 0 0 0 @menu-size;
  top: 0;
}

#title {
  h1 {
    font-size: 1.8em;
  }
}

#page-content {
  font-size: 1.3em;
  line-height: 1.5em;
  text-align: justify;

  #content-text {
    width: 30em;
    border-top: 1px solid #bbb;

    h1 {
      font-size: 1.5em;
    }

    h2 {
      font-size: 1.3em;
    }
  }

  p {
    margin-top: 1.5em;
  }

  #content-footer {
    padding-top: 1em;
    font-style: italic;
    font-size: .9em;
  }
}
